@page "/file-specs"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-12">
            <h6 class="mat-h6">File Specifications</h6>
        </div>

        <div class="mat-layout-grid-cell-span-12 mat-elevation-z5 index-row-item mdc-theme--surface">
            <MatTable Items="_fileSpecs" class="margin-0 mat-elevation-z5" AllowSelection="@_allowSelection" ShowPaging="false" PageSize="100" SelectionChanged="SelectionChangedEvent">
                <MatTableHeader>
                    <th>Name</th>
                    <th>Description</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Name</td>
                    <td>@context.Description</td>
                </MatTableRow>
            </MatTable>

            <div class="space-20"></div>

            @if (FileSpecificationsPageState.SelectedFileSpecification != null)
            {
                <div class="mat-elevation-z4">
                    <div class="mat-layout-grid-inner">
                        <div class="page-tool-bar-with-icons mat-layout-grid-cell mat-layout-grid-cell-span-10">
                            <h7 class="mat-h7">@GetTitleForSelectedItem()</h7>
                        </div>

                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                            <div class="oi-align-right">
                                @if (_inEditMode)
                                {
                                    <MatTooltip Tooltip="Save changes">
                                        <MatIconButton RefBack="@context" Icon="save" OnClick="@Save">
                                        </MatIconButton>
                                    </MatTooltip>
                                    <MatTooltip Tooltip="Cancel">
                                        <MatIconButton RefBack="@context" Icon="cancel" OnClick="@Cancel">
                                        </MatIconButton>
                                    </MatTooltip>
                                }
                                else
                                {
                                    <MatTooltip Tooltip="Edit">
                                        <MatIconButton RefBack="@context" Icon="edit" OnClick="@Edit">
                                        </MatIconButton>
                                    </MatTooltip>
                                }
                            </div>
                        </div>

                        @if (_inEditMode)
                        {
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <MatDivider></MatDivider>
                                <div class="margin-10">
                                    <MatTextField @bind-Value="@_newFileSpecification.Name" Label="Name" Outlined="true"></MatTextField>
                                    <MatTextField Style="width: 400px" @bind-Value="@_newFileSpecification.Description" Label="Description" Outlined="true"></MatTextField>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            <div id="editor" class="space-10 editor"></div>
        </div>
    </div>
</div>
