@page "/"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-12">
            <h6 class="mat-h6">File Selector</h6>
        </div>

        <div class="mat-layout-grid-cell-span-12 mat-elevation-z5 index-row-item mdc-theme--surface">
            <div class="page-tool-bar mat-elevation-z4">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatSelect @bind-Value="@_model.SelectedFileSpecId" HelperTextPersistent="false" Outlined="true" Label="File Specification">
                            @foreach (var option in _model.FileSpecificationOptions)
                            {
                                <MatOption TValue="int" Value="@option.Id">@option.Name</MatOption>
                            }
                        </MatSelect>
                        <MatButton OnClick="@Decode" Label="Decode"></MatButton>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatSelect @bind-Value="@_model.SelectedSampleFileId" HelperTextPersistent="false" Outlined="true" Label="Sample File ">
                            @foreach (var option in _model.SampleFileOptions)
                            {
                                <MatOption TValue="int" Value="@option.Id">@option.Name</MatOption>
                            }
                        </MatSelect>
                        <MatButton OnClick="@UseSampleFile" Label="Use this file"></MatButton>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                        <MatFileUpload OnChange="@FilesReadyAsync" Label="Drop a file here or click to browse" AllowMultiple="false"></MatFileUpload>
                    </div>
                </div>
            </div>

            <div id="editor" class="space-10 editor"></div>
        </div>
    </div>
</div>

<MatDialog @bind-IsOpen="@_model.ProgressDialogIsOpen" CanBeClosed="false">
    <MatDialogContent>
        <p>
            <MatStringField ReadOnly="true" Value="Processing file ..." FullWidth="true"></MatStringField>
        </p>
        <p>
            <MatProgressBar Indeterminate="true"></MatProgressBar>
        </p>
    </MatDialogContent>
</MatDialog>
