@page "/loaded-file"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-12">
            <h6 class="mat-h6">Loaded File</h6>
        </div>

        <div class="mat-layout-grid-cell-span-12 mat-elevation-z5 index-row-item mdc-theme--surface">
            @if (string.IsNullOrWhiteSpace(_frameworkVersion))
            {
                <NoDecodedFileComponent />
            }

            @if (_frameworkVersion == InputDefinitionFile10.VERSION)
            {
                <FileSummaryComponentV10 ParsedDataAndSpec="@_parsedDataAndSpec10"></FileSummaryComponentV10>
                <FileSectionComponentV10 Id="table-header" RowDefinition="_headerDefinition" Tittle="Header" Row="@_headerRow"></FileSectionComponentV10>
                <FileSectionComponentV10 Id="table-trailer" RowDefinition="_trailerDefinition" Tittle="Trailer" Row="@_trailerRow"></FileSectionComponentV10>
                <FileSectionComponentV10 Id="table-data" RowDefinition="_dataDefinition10" Tittle="Data" Rows="@_dataRows"></FileSectionComponentV10>
            }

            @if (_frameworkVersion == InputDefinitionFile20.VERSION)
            {
                <FileSummaryComponentV20 ParsedDataAndSpec="@_parsedDataAndSpec20"></FileSummaryComponentV20>
                <FileSectionComponentV10 Id="table-header" RowDefinition="_headerDefinition" Tittle="Header" Row="@_headerRow"></FileSectionComponentV10>
                <FileSectionComponentV10 Id="table-trailer" RowDefinition="_trailerDefinition" Tittle="Trailer" Row="@_trailerRow"></FileSectionComponentV10>

                @if (_dataRow20sWithInvalidDataType != null && _dataRow20sWithInvalidDataType.Count() > 0)
                {
                    <FileInvalidDataTypeSectionComponentV20 Id="table-data-with-invalid-data-types" Tittle="Data rows with invalid data type" Rows="@_dataRow20sWithInvalidDataType"></FileInvalidDataTypeSectionComponentV20>
                }

                <FileDataSectionComponentV20 Id="table-data" DataRowsDefinition="_dataRowsDefinition20" Tittle="Data" Rows="@_dataRow20s"></FileDataSectionComponentV20>
            }

        </div>
    </div>
</div>
